body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f8cdda, #1d2b64);
  margin: 0;
  padding: 0;
  color: #333;
}
.main-title {
  text-align: center;
  font-family: "Helvatica", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(to right, #ff758c, #ff7eb3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 30px 0;
}

.container {
  max-width: 650px;
  margin: 50px auto;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
  text-align: center;
}

h1 {
  color: #1d2b64;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

label {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 60%;
}

button {
  background: #1d2b64;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

button:hover {
  background: #f8cdda;
  color: #1d2b64;
}

.result-box p {
  font-size: 20px;
  margin: 12px 0;
  font-weight: bold;
}

.table-section {
  margin-top: 40px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
}

table th {
  background: #1d2b64;
  color: white;
}

table tr:nth-child(even) {
  background: #f9f9f9;
}

table tr:hover {
  background: #f1f1f1;
}